.a_tbdr {
    border: 1px dashed red;
}
body {
    background-color: #E8E8E8;
}

header {
    height: 81px;
    border: 1px dashed blue;
}
main {
    min-height: 3800px;
    border: 1px dashed purple;
}
footer {
    height: 424px;
    border: 1px dashed green;
}

@media (min-width: 1400px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1449px;
    }
}
